body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #343a40;
}

.navbar-brand {
    font-size: 1.75em;
    font-weight: bold;
}

.nav-link {
    font-size: 1.1em;
}

main {
    padding: 20px 0;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    max-width: 960px;
    margin: auto;
}

.lead {
    font-size: 1.25em;
    color: #555;
}

.text-center {
    text-align: center;
}
